
    {% extends "likes.html" %}
    {% block posts %}
    {% for i in range(cntBlocks) %}
        <div class="wrapper-carousel">
            <div id={{id[i][1::]}} class="carousel slide">
                <div class="carousel-inner">
                {% for img in imgs[i] %}
                    <div class="clear-fix adjust-img">
                        <div class="carousel-item active">
                            <img id="img" src={{img}} class="d-block w-100" alt="...">
                        </div>
                    </div>
                {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target={{id[i]}} data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target={{id[i]}} data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>            
            </div>
            <div class="caption">
                <p><p>{{caption[i]}}</p></p>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div class="likes-and-comments">
                    {% if likesBool[i] == 1 %}
                        <div data-bool={{likesBool[i]}} id={{i}} class="likes"><i class="bi bi-heart-fill"></i><span style="padding-left: 10px; width: 80%;">{{postCntLikes[i]}}</span></div>
                    {% else %}
                        <div data-bool={{likesBool[i]}} id={{i}} class="likes"><i class="bi bi-heart"></i><span style="padding-left: 10px; width: 80%;">{{postCntLikes[i]}}</span></div>
                    {% endif%}
                    <a style="display: block;" href="/chat/{{chat_id[i]}}"><div class="comments"><i class="bi bi-chat-left"></i><span style="padding-left: 10px;">{{postCntComments[i]}}</span></div></a>
                </div>
                {% if postCreators[i] == current_user.id %}
                    <div style="text-align: right;"><i onclick="event.stopPropagation()" class="more bi bi-three-dots-vertical"></i></div>
                {% endif %}
            </div>
            <div class="edit-del" hidden>
                <a href="/edit_post/{{ post_id[i] }}" class="item-edit-del edit-post"><i class="bi bi-pencil"></i><span style="padding-left: 10px;">Изменить пост</span></a>
                <a href="/del_post/{{ post_id[i] }}" class="item-edit-del del-post"><i class="bi bi-trash3"></i><span style="padding-left: 10px;">Удалить пост</span></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}