{% extends "base.html" %}
{% block content %}
                <div {% if userBackground %} style="background: url({{userBackground}}) 100%;" {% endif %} class="div-with-user-info">
                    <div class="div-with-avatar">
                        <div class="avatar-box">
                            {% if userAvatar %}
                                <img class="avatar-img" src="{{userAvatar}}" alt="">
                            {% else %}
                                <img class="avatar-img" src="../static/img/avatar.jpg">
                            {% endif %}
                        </div>
                        <h1 class="UserName">{{UserName}}</h1>
                        {% if current_user.is_authenticated and current_user.id == serch_user %}
                            <a class="edit-profile-button" href="/setings">Редактировать профиль</a>
                        {% elif serch_user_in_friends %}
                            <a class="edit-profile-button" href="/private_chat/{{user_chat_id}}">Написать</a>
                        {% elif serch_user in requests %}
                            <p class="edit-profile-button">Запрос отправлен</p>
                        {% else %}
                            <a class="edit-profile-button" href="/add_friend/{{ serch_user }}">Добавить в друзья</a>
                        {% endif %}
                    </div>
                </div>
                {% if current_user.is_authenticated and current_user.id == serch_user %}
                    <div class="create-post-div"><p id="createPost" class="create-post-button"><i style="margin-right: 10px;" class="bi bi-plus-lg"></i><span style="line-height: 50px;">Создать пост</span></p></div>
                {% endif %}
                <div id="contaner">
                    <div id="wrapper" class="bacground-wrapper"></div>
                    <div class="post-form">
                        <div class="title-create-post"><h1>Создать пост</h1></div>
                        <form method="post" enctype="multipart/form-data">

                            {{ createPostForm.hidden_tag() }}
                            <p>{{ClientId}}</p>
                            <div class="input-file-with-lbl-post">
                                <i style="font-size: 60px; margin-bottom: 30px;" class="bi bi-upload"></i>
                                <br>
                                <label class="edit-label-text" for="imgs"><h2>Загрузите фото</h2></label>
                                <br>
                                {{ createPostForm.csrf_token }}
                                {{ createPostForm.imgs(id="avatar", class="file-input") }}
                                {% for error in createPostForm.imgs.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="input-caption-with-lbl">
                                {{ createPostForm.csrf_token }}
                                {{ createPostForm.caption(class="caption-post-input form-control", id="about", rows="4", placeholder="Напишите что-нибудь", required=True) }}
                                {% for error in createPostForm.caption.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="div-with-radio-crete-post">
                                {{ createPostForm.csrf_token }}
                                {{ createPostForm.category() }}
                                {% for error in createPostForm.category.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                            {{ createPostForm.submit(class="btn btn-primary submit-create") }}
                        </form>
                    </div>
                </div>
                {% block posts %}{% endblock %}
        <script>
            let contaner = document.getElementsByClassName('likes');
            let flags = []
            if (contaner.length) {
                for (let i=0; i<contaner.length; i++ ){
                    let con = contaner[i];
                    let buttonLikes = con.querySelector('i');
                    buttonLikes.addEventListener("click", cntLikesUp);
                    if (con.dataset.bool == '1') flags.push(true);
                    else flags.push(false);
                }
            }
            function cntLikesUp() {
                let likeContaner = this.parentElement;
                if (flags[+(likeContaner.id)]) return;
                let cntLikes = likeContaner.querySelector('span').innerText;
                this.className = "bi bi-heart-fill";
                cntLikes = +cntLikes + 1;
                likeContaner.querySelector('span').innerText = cntLikes;
                console.log(likeContaner.parentElement.parentElement.id)
                console.log(document.querySelector("#avatar-img-heder-linck").href)
                flags[+(likeContaner.id)] = true;
            }
            let createPostButton = document.getElementById('createPost');
            createPostButton.addEventListener("click", function(){
                let block = document.getElementById('contaner');
                let body = document.querySelector('body');
                body.style.overflow = 'hidden';
                block.style.display = 'block'
                let backgroundDiv = document.getElementById('wrapper');
                backgroundDiv.addEventListener("click", function(){
                    body.style.overflow = 'auto';
                    block.style.display = 'none';
                });
                //setTimeout(()=>{
                //    
                //}, 0);
            });
            let addPanel = document.getElementsByClassName('more');
            if (addPanel.length){
                for (let i = 0; i < addPanel.length; i++){
                    addPanel[i].getElementByClassName;
                    addPanel[i].addEventListener("click", addPanelSee);

                };
            };
            function addPanelSee(){
                let supportContaner = this.parentElement;
                supportContaner = supportContaner.parentElement;
                supportContaner = supportContaner.parentElement;
                let panel = supportContaner.querySelector('.edit-del');
                let panels = document.getElementsByClassName('edit-del');
                for (let i = 0; i < panels.length; i++){
                    if (panels[i] != panel){
                        panels[i].hidden = true;
                    }
                }
                panel.hidden = false;
            };
            document.onclick = function(){
                let panels = document.getElementsByClassName('edit-del');
                for (let i = 0; i < panels.length; i++){
                    if (panels[i].hidden == false){
                        panels[i].hidden = true;
                    };
                };
            };
        </script>
{% endblock %}